.footer {
  background: linear-gradient(90deg, rgba(68, 54, 45, 1) 0%, rgba(50, 43, 41, 1) 47%, rgba(33, 31, 31, 1) 100%);
}

.footer__container {
  box-sizing: border-box;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2.5rem 2.5rem 0;
  display: flex;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
}

.footer__image {
  width: 18.75rem;
  height: 19.375rem;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  margin-top: 1.25rem;
  max-width: 17.4375rem;
}

.footer__location {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 18.875rem;
  margin-top: 1.125rem;
  margin-right: 1.688rem;
}

.footer__contacts .footer__icon {
  width: 2.5rem;
  height: 2rem;
}

.footer__location .footer__icon {
  width: 1.375rem;
  height: 2rem;
}

.footer__contacts div {
  display: flex;
  gap: 1.25rem;
}

.footer__location div {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.footer__text {
  color: #F1CDB3;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  max-width: 16.25rem;
  text-align: left;
}

.footer__heading {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 2.1875rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1279px) {
  .footer__container {
    max-width: 48rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.75rem;
    padding-top: 1.875rem;
  }

  .footer__location {
    margin-right: 0;
    margin-top: 0;
  }

  .footer__contacts {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    max-width: 20rem;
    padding: 1.875rem .625rem 0;
    gap: 2.35rem;
  }

  .footer__heading {
    font-size: 1.5625rem;
    text-align: center;
    max-width: 278px;
  }

  .footer__image {
    width: 16.25rem;
    height: 16.8125rem;
  }

  .footer__contacts {
    gap: 2.625rem;
  }

  .footer__contacts div {
    margin-left: .9375rem;
    max-width: 15.6875rem;
  }

  .footer__location {
    gap: 2.5rem;
  }

  .footer__location .footer__heading {
    margin-left: .75rem;
  }
}