.footer {
  background: linear-gradient(90deg, rgba(68, 54, 45, 1) 0%, rgba(50, 43, 41, 1) 47%, rgba(33, 31, 31, 1) 100%);
}

.footer__container {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 40px 0;
  display: flex;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
}

.footer__image {
  width: 300px;
  height: 310px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  margin-top: 20px;
  max-width: 279px;
}

.footer__location {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 302px;
  margin-top: 18px;
  margin-right: 27px;
}

.footer__contacts .footer__icon {
  width: 40px;
  height: 32px;
}

.footer__location .footer__icon {
  width: 22px;
  height: 32px;
}

.footer__contacts div {
  display: flex;
  gap: 20px;
}

.footer__location div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer__text {
  color: #F1CDB3;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  max-width: 260px;
  text-align: left;
}

.footer__heading {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1279px) {
  .footer__container {
    max-width: 768px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding-top: 30px;
  }

  .footer__location {
    margin-right: 0;
    margin-top: 0;
  }

  .footer__contacts {
    margin-top: 0;
  }

}