* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px 0 40px;
  margin: 0 auto;
  background-image: linear-gradient(90deg, rgba(68, 54, 45, 1) 0%, rgba(50, 43, 41, 1) 47%, rgba(33, 31, 31, 1) 100%);
}

.header a {
  text-decoration: none;
}

.header_pets a {
  text-decoration: none;
}

.header_pets {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px 30px 40px;
  margin: 0 auto;
  background-color: #fff;
}

.header__name {
  color: #F1CDB3;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 32px;

}

.header__name_pets {
  color: #545454;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 32px;
}

.header__description {
  color: #fff;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.header__description_pets {
  color: #292929;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.header__logo-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__list {
  display: flex;
  gap: 35px;
  list-style-type: none;
  padding-top: 16px;
  padding-bottom: 17px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
}

.header__list-item a {
  color: #CDCDCD;
  text-decoration: none;
}

.header__list-item_pets a {
  color: #545454;
  text-decoration: none;
}

.header__list-item_active a {
  color: #FAFAFA;
  padding-bottom: 5px;
  border-bottom: 3px solid #F1CDB3;

}

.header__list-item_active_pets a {
  color: #292929;
  padding-bottom: 5px;
  border-bottom: 3px solid #F1CDB3;

}

.not-only {
  padding: 90px 40px 0 40px;
  display: flex;
  gap: 42px;
  background-image: linear-gradient(90deg, rgba(68, 54, 45, 1) 0%, rgba(50, 43, 41, 1) 47%, rgba(33, 31, 31, 1) 100%);
}

.not-only__image {
  width: 698px;
  height: 728px;
}

.not-only-block {
  display: flex;
  flex-direction: column;
  gap: 42px;
  justify-content: center;
  margin-bottom: 79px;
}

.not-only__heading {
  font-size: 44px;
  line-height: 130%;
  color: #fff;
  font-weight: 400;
  max-width: 310px;
}

.not-only__subheading {
  color: #CDCDCD;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  max-width: 460px;
}

.not-only__btn {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  color: #292929;
  background-color: #F1CDB3;
  border: 0;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.not-only__btn:hover {
  background-color: #FDDCC4;
}

.about {
  background-color: #fff;
  padding: 80px 40px 100px;
  display: flex;
  gap: 120px;
  width: calc(100% - 430px);
  margin: 0 auto;
}

.about__image {
  width: 300px;
  height: 408px;
}

.about__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__heading {
  color: #545454;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  max-width: 370px;
}

.about__subheading {
  color: #4C4C4C;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  max-width: 430px;
}


.pets {
  background-color: #f6f6f6;
  padding: 80px 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.pets__btn {
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
  background-color: #F1CDB3;
  border: 0;
  border-radius: 100px;
  width: 261px;
  height: 52px;
  cursor: pointer;
  text-align: center;
  padding-top: 26px;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  text-decoration: none;
}


.pets__btn:hover {
  background-color: #FDDCC4;
}

.slider {
  display: flex;
  gap: 53px;
  align-items: center;
}

.slider_arrow {
  border: 2px solid #F1CDB3;
  background-color: transparent;
  font-size: 14px;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  cursor: pointer;
}

.slider_arrow:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.slider_arrow:disabled {
  background-color: transparent;
  border: 2px solid #CDCDCD;
}

.cards {
  display: flex;
  gap: 90px;
  flex-wrap: wrap;
}

.cards_pets {
  gap: 40px;
}

.card {
  background-color: #fafafa;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}

.card__image {
  width: 270px;
  height: 270px;
}

.card__btn {
  color: #292929;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  width: 187px;
  height: 52px;
  cursor: pointer;
}

.card__btn:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.card__name {
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  letter-spacing: 0.06em;
}

.pets__heading {
  color: #545454;
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.06em;
  max-width: 400px;
  text-align: center;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 100px 0;
}

.help__image {
  width: 60px;
  height: 60px;
}

.help__long {
  display: flex;
  gap: 120px;
  margin: 60px 0 55px 0;
}

.help__long div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.help__text {
  color: #545454;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.help__heading {
  color: #545454;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  max-width: 310px;
  text-align: center;
  align-items: center;
}

.help__short {
  display: flex;
  gap: 120px;
}

.help__short div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.donation {
  background-color: #F6F6F6;
  padding: 80px 0 100px 0;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.donation__info {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donation__heading {
  color: #545454;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  max-width: 300px;
  letter-spacing: 0.06em;
}

.donation__subheading {
  color: #545454;
  max-width: 308px;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.donation__card {
  max-width: 320px;
  height: 43px;
  width: 100%;
  display: flex;
  padding: 0 15px;
  align-items: center;
  gap: 15px;
  background-color: #F1CDB3;
  border-radius: 9px;
}

.donation__card-img {
  width: 30px;
  height: 23px;
}

.donation__number {
  color: #545454;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-decoration: none;
}

.donation__text {
  color: #B2B2B2;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.button-block {
  display: flex;
  gap: 20px;
}

.footer {
  background-image: linear-gradient(90deg, rgba(68, 54, 45, 1) 0%, rgba(50, 43, 41, 1) 47%, rgba(33, 31, 31, 1) 100%);
  display: flex;
  align-items: center;
  gap: 137px;
  padding: 23px 40px 0 40px;
}

.footer a {
  text-decoration: none;
}

.footer__image {
  width: 300px;
  height: 310px;
  margin-left: 50px;
  margin-top: 10px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 279px;
}

.footer__location {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 302px;
}

.footer__contacts .footer__icon {
  width: 40px;
  height: 32px;
}

.footer__location .footer__icon {
  width: 22px;
  height: 32px;
}

.footer__contacts div {
  display: flex;
  gap: 20px;
}

.footer__location div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer__text {
  color: #F1CDB3;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  max-width: 260px;
  text-align: left;
}

.footer__heading {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}