.cards {
  display: flex;
  gap: 3.3125rem;
  position: relative;
  left: -938px;
}

.cards__maxheight {
  max-height: 435px;
}

.cards_pets {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  left: 0;
  overflow: hidden;
  max-height: 920px;
}

.card {
  background-color: #fafafa;
  border-radius: 0.5625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  padding-bottom: 1.875rem;
  cursor: pointer;
}

.card__image {
  width: 16.875rem;
  height: 16.875rem;
}

.card__btn {
  color: #292929;
  background-color: transparent;
  border: 0.125rem solid #F1CDB3;
  border-radius: 100px;
  font-size: 1.0625rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 11.6875rem;
  height: 3.25rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.card:hover .card__btn {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.card__name {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #545454;
  letter-spacing: 0.06em;
}

.cards__wrapper {
  overflow: hidden;
  max-width: 990px;
  margin: 0 20px;
}

@media screen and (max-width: 1279px) {
  .cards {
    gap: 0.75rem;
    flex-wrap: nowrap;
    max-width: 36rem;
    max-height: 87.1875rem;
    left: -552px;
  }

  .cards_pets {
    flex-wrap: wrap;
    max-height: 87.1875rem;
  }
}

@media screen and (max-width: 767px) {
  .cards {
    max-width: 16.875rem;
    padding-right: .625rem;
    padding-left: .625rem;
    padding-top: 0;
    left: -280px;
  }
}