.header {
  display: flex;
  width: 100%;
  background: linear-gradient(90deg, rgba(68, 54, 45, 1) 0%, rgba(50, 43, 41, 1) 47%, rgba(33, 31, 31, 1) 100%);
}

.header__burger {
  width: 1.875rem;
  height: 1.375rem;
  display: none;
  cursor: pointer;
  z-index: 2;
}

.header__burger.active {
  animation: rotate-burger 0.6s ease forwards;
}

.header__burger:not(.active) {
  animation: rotate-burger-reverse 0.6s ease forwards;
}

.header__container {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 2.5rem;
}

.header a {
  text-decoration: none;
}

.header_white {
  background: #fff;
}

.header__name {
  color: #F1CDB3;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 2rem;
}

.header__name_pets {
  color: #545454;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 2rem;
}

.header__description {
  color: #fff;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  letter-spacing: 0.1em;
}

.header__description_pets {
  color: #292929;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  letter-spacing: 0.1em;
}

.header__logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  z-index: 1;
}

.header__list {
  display: flex;
  width: 100%;
  gap: 2.1875rem;
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1.0625rem;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 0.9375rem;
}

.header__list-item a {
  color: #CDCDCD;
  text-decoration: none;
}

.header__list-item_pets a {
  color: #545454;
  text-decoration: none;
}

.header__list-item_active a {
  color: #FAFAFA;
  padding-bottom: 0.3125rem;
  border-bottom: 0.1875rem solid #F1CDB3;
}

.header__list-item_active_pets a {
  color: #292929;
  padding-bottom: 0.3125rem;
  border-bottom: 0.1875rem solid #F1CDB3;
}

.header__list-item:hover a {
  color: #FAFAFA;
}

.header__list-item_pets:hover a {
  color: #292929;
}


@media screen and (max-width: 1279px) {
  .header__container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    max-width: 48rem;
  }
}

@media screen and (max-width: 767px) {
  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
  }

  .header__container {
    max-width: 20rem;
    padding: 1.85rem 1.25rem 1.875rem;

  }

  .header__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #292929;
    box-sizing: border-box;
    width: 320px;
    height: 100vh;
    transform: translateX(100%);
    font-size: 2rem;
    line-height: 52px;
    font-family: Arial;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
  }

  .header__list_visible {
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
  }

  .header__burger {
    display: block;
  }

  .header__list-item_pets:hover a {
    color: #FAFAFA;
  }

  .header__list-item_active_pets a {
    color: #FAFAFA;
  }

  .header__list-item_pets a {
    color: #CDCDCD;
  }
}