.slider {
  display: flex;
  gap: 3.3125rem;
  align-items: center;
}

.slider_arrow {
  border: 0.125rem solid #F1CDB3;
  background-color: transparent;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  border-radius: 6.25rem;
  width: 3.25rem;
  height: 3.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider_arrow_active {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.slider_arrow:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.slider_arrow:disabled {
  background-color: transparent;
  border: 0.125rem solid #CDCDCD;
}

.button-block {
  display: flex;
  gap: 1.25rem;
}

@media screen and (max-width: 1279px) {
  .slider {
    gap: 0.75rem;
  }
}