.about {
  background-color: #fff;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 7.5rem;
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 2.5rem 6.25rem;
}

.about__image {
  width: 18.75rem;
  height: 25.5rem;
}

.about__info {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}

.about__heading {
  color: #545454;
  font-weight: 400;
  font-size: 2.1875rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  max-width: 22rem;
}

.about__subheading {
  color: #4C4C4C;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 160%;
  max-width: 26.875rem;
}

@media screen and (max-width: 1279px) {

  .about__container {
    max-width: 48rem;
    flex-direction: column-reverse;
    gap: 5rem;
  }
}