.donation {
  background-color: #F6F6F6;
}

.donation__container {
  max-width: 80rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 5rem 2.5rem 6.25rem;
  display: flex;
  gap: 1.875rem;
  align-items: center;
  justify-content: center;
}

.donation__info {
  max-width: 23.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.donation__heading {
  color: #545454;
  font-style: normal;
  font-weight: 400;
  font-size: 2.1875rem;
  line-height: 130%;
  max-width: 18.75rem;
  letter-spacing: 0.06em;
}

.donation__subheading {
  color: #545454;
  max-width: 19.25rem;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.donation__card {
  max-width: 20rem;
  height: 2.6875rem;
  width: 100%;
  display: flex;
  padding: 0 0.9375rem;
  align-items: center;
  gap: 0.9375rem;
  background-color: #F1CDB3;
  border-radius: 0.5625rem;
}

.donation__card-img {
  width: 1.875rem;
  height: 1.4375rem;
}

.donation__number {
  color: #545454;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 115%;
  text-decoration: none;
}

.donation__text {
  color: #B2B2B2;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

@media screen and (max-width: 1279px) {
  .donation__container {
    max-width: 48rem;
    flex-direction: column-reverse;
    gap: 3.75rem;
  }
}