.help {
  background-color: #fff;
}

.help__container {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 2.5rem 6.25rem;
}

.help__image {
  width: 3.75rem;
  height: 3.75rem;
}

.help__block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3.75rem auto 0;
  gap: 3.4375rem 7.5rem;
}

.help__block div {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  align-items: center;
  text-align: center;
}

.help__text {
  color: #545454;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.help__heading {
  color: #545454;
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  max-width: 19.375rem;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .help__container {
    max-width: 48rem;
  }

  .help__block {
    gap: 3.4375rem 3.75rem;
    max-width: 39.375rem;
  }

  .help__block div {
    width: 10.625rem;
  }
}

@media screen and (max-width: 767px) {
  .help__container {
    max-width: 20rem;
    padding: 2.625rem .9375rem 2.625rem;
  }

  .help__heading {
    font-size: 1.5625rem;
    text-align: center;
    max-width: 14.75rem;
  }

  .help__block {
    margin-top: 2.625rem;
    gap: 1.875rem;
    justify-content: start;
  }

  .help__block div {
    width: 8.125rem;
    gap: 1.25rem 1.25rem;
  }

  .help__text {
    font-size: .9375rem;
  }

  .help__image {
    width: 3.125rem;
    height: 3.125rem;
  }
}